<!-- <div class="frame">
  <div class="frame-north">
  </div>
  <div class="frame-east">
  </div>
  <div class="frame-south">
  </div>
  <div class="frame-west">
  </div>
</div> -->
<canvas id="canvas"></canvas>
<nav>
  <ul>
    <li><a href="/#info">Info</a></li>
    <!-- <li><a href="/demo">Demo</a></li> -->
    <li><span>Acid At The Mall</span></li>
    <!-- <li><a href="https://acidatm.itch.io/acid" target="_blank">ACID</a></li>
    <li><a href="https://acidatm.itch.io/tram" target="_blank">TRAM</a></li> -->
    <li><a id="mailLink">Mail</a></li>
  </ul>
</nav>
