{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ .Scratch.Set "thumbnail" ($original.Fill "32x32 Linear") }}
{{ .Scratch.Set "small" ($original.Resize "640x Gaussian") }}
{{ .Scratch.Set "medium" ($original.Resize "768x Gaussian") }}
{{ .Scratch.Set "large" ($original.Resize "1080x Gaussian") }}
{{ .Scratch.Set "full" ($original.Resize "1440x Gaussian") }}
{{ $thumbnail := .Scratch.Get "thumbnail" }}
{{ $s := .Scratch.Get "small" }}
{{ $m := .Scratch.Get "medium" }}
{{ $l := .Scratch.Get "large" }}
{{ $f := .Scratch.Get "full" }}
<img class="image" src="{{$thumbnail.Permalink}}" data-thumbnail="{{$thumbnail.Permalink}}" data-small="{{ $s.Permalink }}" data-medium="{{ $m.Permalink }}" data-large="{{ $l.Permalink }}" data-full="{{ $f.Permalink }}"></img>
